/* banner */
.BannerArea {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(38, 38, 38, 0) 100%), url(/Interior/image/hardware-banner.png);
    position: relative;
}

.BannerArea .BannerText {
    font-family: 'Noto Serif CJK TC';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.5rem;
    letter-spacing: 0.12em;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

/* prdArea */
.prdListArea {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    gap: 9rem;
}

.prdListContainer {
    flex: 1;
}

.prdListBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4.5rem 2rem;
    filter: drop-shadow(-36px 111px 70px rgba(0, 0, 0, 0.04)) drop-shadow(-4px 12px 29px rgba(0, 0, 0, 0.06));
}

.prdContainer {
    display: inline-flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
}

.prdImgBox {
    /* flex: 1; */
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 12rem;
}

.prdImgBox img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prdInfoBox {
    height: 4.5rem;
    padding: 1rem;
}

.cooperate_CompanyArea {
    margin-bottom: 3rem;
}

.CompanyName {
    font-size: 1.2rem;
    padding: 10px 5px;
    letter-spacing: 0.5em;
    border-bottom: 1px solid;
    display: inline-block;
}

@media(max-width:768px) {
    .prdListArea {
        flex-direction: column;
    }

    .prdListBox {
        grid-template-columns: 1fr;
    }
}